# dependencies
node_modules/

# build
dist/
coverage/

# env
.env
.env.local

# logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
certs/
storage/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/
.venv/
venv/
